<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HEIC a JPG</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Convertir HEIC a JPG</h1>
    <p>Subí varias imágenes HEIC y descargá todas en JPG.</p>

    <form action="/convert" method="POST" enctype="multipart/form-data">
        <input type="file" name="images" multiple accept=".heic" required>
        <button type="submit">Convertir y descargar</button>
        <hr>
        <div class="social">
            <a target="_blank" href="https://github.com/juancruzvenier/"><img src="../static/img/github-svgrepo-com.svg" width="20px" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/juan-cruz-venier/"><img src="../static/img/linkedin-svgrepo-com.svg" width="20px" alt=""></a>
        </div>
    </form>
</div>

</body>
</html>
